body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.header {
  padding: 30px;
}

h1 {
  color: white;
  margin-left: 20px;
}

#catSec button {
  background-color: white;
  color: black;
  padding: 10px;
  border: 2px solid #e7e7e7;
  margin: 0px 10px;
  border-radius: 15px;
}

#catSec button:hover {
  background-color: #555555;
  color: white;
}
